<div class="top-nav-wrapper">

    <mat-toolbar class="toolbar"
      fxLayout
      fxLayoutAlign="space-between center">
      <div fxFlex
        fxLayout
        fxLayoutAlign='start center'>
        <a href=""><img width='50px'
            src="../../../assets/logo.png"
            alt="logo"></a>
        <span>MOMEMTUM</span>
      </div>
      <div fxFlex
        fxLayoutAlign="end center">
        <a>
          <mat-icon>
            account_circle
          </mat-icon>
        </a>
      </div>
    </mat-toolbar>
  </div>
  