mat-toolbar.toolbar {
  color: white;
  font-weight: 200;
  height: 98px;
  letter-spacing: 2px;
  background: rgb(5, 41, 80);
  background: linear-gradient(90deg, rgba(5, 41, 80, 1) 30%, rgba(9, 75, 104, 1) 80%, rgba(16, 126, 138, 1) 100%);
}
